<app-navbar></app-navbar>

<ion-content>
    <ion-grid class="ion-margin-top">
        <ion-row>
            <ion-col>
                <h1 class="about_text">Pong Réalisé par l'équipe 8</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h3 class="about_text">Gabriel SÉRON - Edouard EISENFISZ - Killian FLOHIC</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="about_text">Projet réalisé sous Ionic Angular, impliquant l'emploi de socket pour gérer le multijoueur en temps réel.</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
