<app-navbar></app-navbar>

<ion-content>
  <ion-row class="pong_rooms">
    <ion-col size="3" class="pong_searchsize">
      <ion-item   class="pong_searchbar">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-searchbar placeholder="Search Name"></ion-searchbar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="ion-text-center searchbar_text">OR</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button id="create-room" expand="block" class="ion-justify-content-center searchbar_button">
                <p class="ion-text-center">Create room</p>
              </ion-button>
              <ion-modal #modal trigger="create-room" [swipeToClose]="true" [canDismiss]="canDismiss">
                <ng-template>
                  <ion-content class="modal_create">
                    <ion-toolbar class="modal_create">
                      <ion-title>CHOOSE A NAME FOR YOUR ROOM:</ion-title>
                      <ion-input placeholder="input a Name"></ion-input>
                      <ion-button class="ion-justify-content-center modal_create_button">Create Room</ion-button>
                      <ion-buttons slot="end">
                        <ion-button (click)="modal.dismiss()">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button id="create-help" expand="block" class="ion-justify-content-center searchbar_button">PRESS FOR HELP</ion-button>
              <ion-modal #modal trigger="create-help" [swipeToClose]="true" [canDismiss]="canDismiss">
                <ng-template>
                  <ion-content class="modal_create">
                    <ion-toolbar class="modal_create">
                      <ion-title>USE THE ARROW KEYS TO MOVE</ion-title>
                      <img src="../../assets\arroxs.png" alt="">
                      <ion-buttons slot="end">
                        <ion-button (click)="modal.dismiss()">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </ion-item>
    </ion-col>
    <ion-col>

      <ion-grid>
        <ion-row>
          <ion-col size="2">

            <ion-grid class="pong_room">
              <ion-row>
                <ion-col>
                  <img src="../../assets/pong.png" alt="">
                </ion-col>
              </ion-row>
               <ion-row>
                <ion-col>
                  <p class="ion-text-center pong_room_text">ROOM NAME 1</p>
                </ion-col>
               </ion-row>
            </ion-grid>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
  </ion-row>
</ion-content>
