<app-navbar></app-navbar>

<ion-content>
  <ion-row class="pong_rooms">
    <ion-col size="3" class="pong_searchsize">
      <ion-item   class="pong_searchbar">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-searchbar placeholder="Search Name"></ion-searchbar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="ion-text-center searchbar_text">OR</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button id="create-room" expand="block" class="ion-justify-content-center searchbar_button" (click)="createRoom()">
                <p class="ion-text-center">Create room</p>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button id="create-help" expand="block" class="ion-justify-content-center searchbar_button">PRESS FOR HELP</ion-button>
              <ion-modal #modal trigger="create-help" [swipeToClose]="true">
                <ng-template>
                  <ion-content class="modal_create">
                    <ion-row>
                      <ion-col>
                        <ion-title class="modal_create ion-text-center ion-margin-top">USE THE ARROW KEYS TO MOVE</ion-title>
                        <img src="../../assets\arroxs.png" alt="" class="ion-align-items-center help-img">
                      </ion-col>
                    </ion-row>

                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </ion-item>
    </ion-col>
    <ion-col>

      <ion-grid>
        <ion-row>
          <ion-col size="2.5" tappable (click)="openRoom('roomName')" class="ion-margin-end ion-margin-vertical" *ngFor="let room of roomsList">

            <ion-grid class="pong_room">
              <ion-row>
                <ion-col>
                  <img src="../../assets/pong.png" alt="">
                </ion-col>
              </ion-row>
               <ion-row>
                <ion-col>
                  <p class="ion-no-margin ion-margin-bottom">{{room}}</p>
                </ion-col>
               </ion-row>
            </ion-grid>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
  </ion-row>
</ion-content>
