.pong_rooms{
    height: 100%;
}
.pong_searchbar{
    background: black;
    --background: black;
    padding: 0px;
}
.pong_searchsize{
    background-color: black;
    --background-color: black;
}
.searchbar_button{
    display: flex;
    --background: white;
    height: 5vh;
    color:black;
}
.name_input{
    text-align: center;
}
.searchbar_text{
    color: white;
}
.pong_room{
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 15vw;
    margin-bottom: 5vh;
}
.pong_room_text{
    color: black;
}
.modal_create{
    --background: black;
    background: black;
    padding: 10px;
    color:white;
}
.modal_create_button{
    display: flex;
    --background: white;
    --color: black;
}
.help-img {
    margin: 25% 25%;
}
